body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8; /* Light white background color */
}

.content {
  padding: 20px;
}

.center-heading {
  text-align: center;
}

.center-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.about-content {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.col-6 {
  flex: 1;
}

.contact-images {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  size: 200px;
}

.contact-images img {
  max-width: 100%;
  height: auto;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-links img {
  max-width: 40px;
  height: auto;
  margin: 0 10px;
}

.google-map {
  margin-top: 20px;
  /* Add styling for the Google Map container */
}

.restaurant-details {
  margin-top: 20px;
  text-align: center;
}

footer {
  background-color: #3498db; /* Blue background color */
  color: #fff;
  padding: 1em;
  text-align: center;
}
